<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CunyZero-Admin home page</title>
    <link rel="stylesheet" href="css/adminStyle.css" />
    <link rel="stylesheet" href="css/uicons-regular-rounded.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <h1>
                <a href="#">CunyZero</a>
            </h1>
        </div>
        <div class="right-header">
            <div class="notification">
                <a href="#"><i class="fi-rr-bell-ring"></i></a>
                <i class="count"></i>
            </div>
            <div class="user">
                <ul>
                    <li>Name: Lun Qu</li>
                    <li>ID: 23548519</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-box">
        <div class="nav-box">
            <div class="nav">
                <a href="#" class="icon"><i class="fi-rr-home"></i><span>Home page</span></a>
                <a href="#" class="icon"><i class="fi-rr-user-add"></i><span>Student Apply</span></a>
                <a href="#" class="icon"><i class="fi-rr-incognito"></i><span>Instructor Apply</span></a>
                <a href="#" class="icon"><i class="fi-rr-book-alt"></i><span>Course Apply</span></a>
                <a href="#" class="icon"><i class="fi-rr-portrait"></i><span>Student Overall</span></a>
                <a href="#" class="icon"><i class="fi-rr-address-book"></i><span>Instructor Overall</span></a>
                <a href="#" class="icon"><i class="fi-rr-search-alt"></i><span>Course Information</span></a>
                <a href="#" class="icon"><i class="fi-rr-settings"></i><span>Setting</span></a>
            </div>
        </div>
        <div class="container"> This is container </div>
    </div>
</body>
</html>