<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> GradZero </title>
    <link rel="stylesheet" href="css/baseStyle.css" />
</head>
<body>
<div class="boxes">
    <div class="jelly" style="--color: #f44336" onclick="reset()">Highest Course Rate:</div>
    <div class="jelly" style="--color: #e91e63" onclick="reset()">Highest Student GPA:</div>
    <div class="jelly" style="--color: #9c27b0" onclick="reset()">Lowest Course Rate:</div>
    <div class="jelly" id="jelly-login" style="--color: #2196f3" onclick="transform()">Log In</div>
    <div class="login-form-box" id="login-form">
            <div class="btn-box">
                <div id="btn-cover"></div>
                <button type="button" class="login-btn" onclick="studentLogin()">Students</button>
                <button type="button" class="login-btn" onclick="instructorLogin()">Instructor</button>
                <button type="button" class="login-btn" onclick="adminLogin()">Admin</button>
                <button type="button" class="login-btn" onclick="visitorLogin()">Visitor</button>
            </div>

            <form id="student-login" class="login-form">
                <input type="text" class="input-field" placeholder="Student User ID" required>
                <input type="text" class="input-field" placeholder="Password Enter" required>
                <button type="submit" class="submit-btn">Submit</button>
            </form>
            <form id="instructor-login" class="login-form">
                <input type="text" class="input-field" placeholder="Instructor User ID" required>
                <input type="text" class="input-field" placeholder="Password Enter" required>
                <button type="submit" class="submit-btn">Submit</button>
            </form>
            <form id="admin-login" class="login-form">
                <input type="text" class="input-field" placeholder="Admin User ID" required>
                <input type="text" class="input-field" placeholder="Password Enter" required>
                <button type="submit" class="submit-btn">Submit</button>
            </form>
            <form id="visitor-login" class="login-form">
                <input type="text" class="input-field" placeholder="Visitor ID" required>
                <button type="submit" class="submit-btn">Visitor Login</button>
                <button type="submit" class="submit-btn">New Visitor</button>
            </form>
    </div>
</div>


<script>
var boxes = document.querySelectorAll('.boxes > .jelly');
  [].forEach.call(boxes, box => {
    box.addEventListener('mousemove', e => {
      document.body.style.setProperty(
        '--bg-color',
        box.style.getPropertyValue('--color')
      );

      var size = parseInt(getComputedStyle(box).width);

      // scaling
      var x = size * .3 * .7 + .7 * e.offsetX;
      var y = size * .3 * .7 + .7 * e.offsetY;

      box.style.setProperty('--x', x);
      box.style.setProperty('--y', y);
      box.style.setProperty('--size', size);
    });
  });

var jellyLogin = document.getElementById("jelly-login");
var loginForm = document.getElementById("login-form");
function transform(){
    jellyLogin.style.display="none";
    loginForm.style.display="block";
}

function reset(){
    jellyLogin.style.display="flex";
    loginForm.style.display="none";
}
var sLoginPos = document.getElementById("student-login");
        var iLoginPos = document.getElementById("instructor-login");
        var aLoginPos = document.getElementById("admin-login")
        var vLoginPos = document.getElementById("visitor-login")
        var z = document.getElementById("btn-cover");

        function studentLogin(){
            sLoginPos.style.left = "60px";
            iLoginPos.style.left = "460px";
            aLoginPos.style.left = "460px";
            vLoginPos.style.left = "460px";
            z.style.left = "0px"
        }

        function instructorLogin(){
            sLoginPos.style.left = "-460px";
            iLoginPos.style.left = "60px";
            aLoginPos.style.left = "460px";
            vLoginPos.style.left = "460px";
            z.style.left = "70px";
        }


        function adminLogin(){
            sLoginPos.style.left = "-460px";
            iLoginPos.style.left = "-460px";
            aLoginPos.style.left = "60px";
            vLoginPos.style.left = "460px";
            z.style.left = "140px"
        }

        function visitorLogin(){
            sLoginPos.style.left = "-460px";
            iLoginPos.style.left = "-460px";
            aLoginPos.style.left = "-460px";
            vLoginPos.style.left = "60px";
            z.style.left = "210px"
        }

</script>
</body>


</html>