{% extends "layout.html"%}
{% block content %}
    {% for complaint in complaints %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata row">
                    From complainer
                    <a href="#"> {{  }}</a>
                    To target
                    <a href="#"> {{  }} </a>
                </div>
                <p class="article-content"> {{ complaint.message }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
