{% extends "layout.html"%}
{% block content %}
    <div class="content-section">
        {% if index != 0 %}
            {% for i in range(index) %}
                <article class="media content-section col-md-12">
                    <div class="media-body" style="max-width: 100%">
                        <form method="POST", action="">
                            {{ forms[i].hidden_tag() }} <!--CSRF token-->
                            <div class="form-group" style="display: none" >
                                {{ forms[i].id.label(class="form-control-label") }}
                                {{ forms[i].id(class="form-control-label", value=applications[i].id) }}
                            </div>
                            <div class="article-metadata row">
                                <H4 class="col-md-9 mr-4">Type: {{ applications[i].type }}</H4>
                                    {{ forms[i].accept(class="btn btn-outline-info col-md-1 ml-5") }}
                                    {{ forms[i].reject(class="btn btn-outline-info col-md-1 ml-2") }}
                            </div>
                            <div class="row">
                                <p class="article-content ml-3"><strong>Name:</strong> {{ applications[i].firstname }} {{ applications[i].lastname }}</p>
                                <p class="article-content ml-3"><strong>Employ ID:</strong> {{ applications[i].visitor_id }}</p>
                            </div>
                            {% if applications[i].type=='Student' %}
                                <div class="row">
                                    <p class="article-content ml-3"><strong>GPA:</strong> {{ applications[i].GPA }}</p>
                                    <p class="article-content ml-3"><strong>Program:</strong> {{ applications[i].program_name }}</p>
                                </div>
                            {% endif %}
                            <p class="article-content" style="word-wrap: break-word"><strong>intro:</strong> {{ applications[i].intro }}</p>
                            <div class="form-group">
                                <strong>{{ forms[i].justification.label(class="form-control-label") }}</strong>
                                {{ forms[i].justification(class="form-control form-control-lg", value='') }}
                            </div>
                        </form>
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}