{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom">
            <span> Current Running Course </span>
            <a class="btn btn-outline-info float-right" style="text-decoration: none; color: #0d1421" href="{{ url_for('create_course')}}">
                Create Course
            </a>
        </legend>
        {% for current_course in current_courses %}
            <article class="media content-section col-md-12">
                <div class="media-body row" style="position: relative; align-items: center">
                <div class="col-md-3 border-left">
                    Name: {{ current_course.coursename}}
                </div>
                <a class="col-md-3 border-left" href="{{ url_for('individual_review',role='Instructor',owner_id=current_course.instructorId)}}">
                    Instructor:  {{ current_course.getInstructorName() }}
                </a>
                <div class="col-md-2 border-left border-right">
                    Status: {{ current_course.dayofweek }}
                </div>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock content %}