{% extends "layout.html"%}

{#{% block content %}#}
{#    {% for post in posts %}#}
{#        <article class="media content-section">#}
{#            <div class="media-body">#}
{#                <div class="article-metadata">#}
{#                  <a class="mr-2" href="#">{{ post.author }}</a>#}
{#                    <H3>Highest Rate Class</H3>#}
{#              <small class="text-muted">{{ post.date_posted }}</small>#}
{#                </div>#}
{#                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>#}
{#                    <H4>{{ post.title }}</H4>#}
{#                    <p class="article-content">{{ post.content }}</p>#}
{#            </div>#}
{#        </article>#}
{#    {% endfor %}#}
{#{% endblock content %}#}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
{#                 <a class="mr-2" href="#">{{ post.author }}</a>#}
                <H3>Highest Rate Class</H3>
{#              <small class="text-muted">{{ post.date_posted }}</small>#}
            </div>
{#                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>#}
            <H4>{{ posts.title }}</H4>
            <p class="article-content">{{ posts.content }}</p>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
{#                 <a class="mr-2" href="#">{{ post.author }}</a>#}
                <H3>Lowest Rate Class</H3>
{#              <small class="text-muted">{{ post.date_posted }}</small>#}
            </div>
{#                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>#}
            <H4>{{ posts.title }}</H4>
            <p class="article-content">{{ posts.content }}</p>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
{#                 <a class="mr-2" href="#">{{ post.author }}</a>#}
                <H3>Top Students</H3>
{#              <small class="text-muted">{{ post.date_posted }}</small>#}
            </div>
{#                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>#}
            <H4>{{ posts.title }}</H4>
            <p class="article-content">{{ posts.content }}</p>
        </div>
    </article>
{% endblock content %}