{% extends "layout.html"%}
{% block content %}
    {% for course in highest_rate_course %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <H4>Highest Rate Class</H4>
            </div>
            <p class="article-content"><strong>Course Name:</strong> {{ course.course_name }}</p>
            <p class="article-content"><strong>Instructor:</strong> {{ course.instructor }}</p>
            <p class="article-content"><strong>Status:</strong> {{ course.status }}</p>
            <p class="article-content"><strong>Rate:</strong> {{ course.rate }}</p>
        </div>
    </article>
    {% endfor %}
    {% for course in lowest_rate_course %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <H4>Lowest Rate Class</H4>
            </div>
            <p class="article-content"><strong>Course Name:</strong> {{ course.course_name }}</p>
            <p class="article-content"><strong>Instructor:</strong> {{ course.instructor }}</p>
            <p class="article-content"><strong>Status:</strong> {{ course.status }}</p>
            <p class="article-content"><strong>Rate:</strong> {{ course.rate }}</p>
        </div>
    </article>
    {% endfor %}
    {% for student in highest_GPA_student %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <H4>Highest GPA Student</H4>
            </div>
            <p class="article-content"><strong>Student Name:</strong> {{ student.student }}</p>
            <p class="article-content"><strong>Major:</strong> {{ student.major_in }}</p>
            <p class="article-content"><strong>Status:</strong> {{ student.status }}</p>
            <p class="article-content"><strong>GPA:</strong> {{ student.gpa }}</p>
        </div>
    </article>
    {% endfor %}
{% endblock content %}