{% extends "layout.html"%}
{% block content %}
    <div class="content-section">
        <div class="h3">
            Welcome to GradSchoolZero!
        </div>
    </div>
    {% if courses %}
        {% with course = courses[-1] %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <H4>Highest Rate Class</H4>
                    </div>
                    <p class="article-content"><strong>Course Name:</strong> {{ course.coursename }}</p>
                    <p class="article-content"><strong>Instructor:</strong> {{ course.getInstructorName() }}</p>
                    <p class="article-content"><strong>Status:</strong> {{ course.status }}</p>
                    <p class="article-content"><strong>Rate:</strong> {{ "%.2f"|format(course.rating) }}</p>
                </div>
            </article>
        {% endwith %}
        {% with course = courses[0] %}
            <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <H4>Lowest Rate Class</H4>
            </div>
            <p class="article-content"><strong>Course Name:</strong> {{ course.coursename }}</p>
            <p class="article-content"><strong>Instructor:</strong> {{ course.getInstructorName() }}</p>
            <p class="article-content"><strong>Status:</strong> {{ course.status }}</p>
            <p class="article-content"><strong>Rate:</strong> {{ "%.2f"|format(course.rating) }}</p>
            </div>
            </article>
        {% endwith %}
    {% else %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <H4>None Rated Course In the List</H4>
                </div>
            </div>
        </article>
    {% endif %}
    {% if students %}
        {% with student = students[-1] %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <H4>Highest GPA Student</H4>
                </div>
                <p class="article-content"><strong>Student Name:</strong> {{ student.Student.firstname }} {{ student.Student.lastname }}</p>
                <p class="article-content"><strong>Major:</strong> {{ student.Program.name }}</p>
                <p class="article-content"><strong>Status:</strong> {{ student.Student.status }}</p>
                <p class="article-content"><strong>GPA:</strong> {{ "%.2f"|format(student.Student.gpa) }}</p>
            </div>
        </article>
        {% endwith %}
    {% else %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <H4>None Student In the List</H4>
                </div>
            </div>
        </article>
    {% endif %}
{% endblock content %}