{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST", action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="h2">File a Complaint to Student</legend>
            <div class="content-section">
                <div class="row">
                    <div class="form-group col-md-6">
                        <strong>{{ form.target.label }}{{ form.target(class="form-control form-control-lg") }} </strong>
                    </div>

                </div>

<!--                <div class="row">-->
<!--                     <div class="btn-group">-->
<!--                        {% for i in form.reason %}-->
<!--                            <div class="col-6">-->
<!--                                {{ i }}-->
<!--                                {{ i.label  }}<br>-->
<!--                            </div>-->
<!--                        {% endfor%}-->
<!--                    </div>-->
<!--                </div>-->

                <div class="row">
                    <div class="form-group col-md-12">
                        <strong>
                            {{ form.message.label }}
                        </strong>
                        {{ form.message(class="form-control form-control-lg") }}
                    </div>


                </div>

            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>

{% if history %}
<div class="content-section">
    <table class="table table-striped table-hover bg-light text-center">
        <thead>
            <tr class="thead-secondary">
                <th class="course_header">Complaint History</th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            <tr class="thead-secondary text-muted">
                <th>EMPLID</th>
                <th>Target</th>
                <th>Message</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
            {% for complaint in history %}
                <tr>
                    <td>{{ complaint.targetId }}</td>
                    <td>{{ targets[complaint.targetId] }}</td>
                    <td>{{ complaint.message[:10] + "..." if complaint.message|length >10 else complaint.message }}</td>
                    {% if complaint.processed %}
                        <td>Done</td>
                    {%  else %}
                        <td>In Progress</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% endblock content %}