{% extends "layout.html"%}
{% block content %}
    <div class="content-section">
        {% for instructor in instructors%}
            <article class="media content-section col-md-12">
                <div class="media-body row" style="position: relative; align-items: center">
                    <div class="col-md-3">
                        Instructor: {{ instructor.firstname }} {{ instructor.lastname }}
                    </div>
                    <div class="col-md-3">
                        Employ ID:  {{ instructor.ownerId }}
                    </div>
                    <div class="col-md-3">
                        Status: {{ instructor.status }}
                    </div>
                    <button class="btn btn-outline-info float-right" style="position: absolute; right:10px;">
                        <a style="text-decoration: none" href='#' }}>Detail</a>
                    </button>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock content %}